html {
  height: 100%;
}

body {
  height: 100%;
}

.app {
  height: 100%;
}

.navbar {
  margin-bottom: 0px;
  box-shadow: 1px 1px 1px #e8e8e8;
}

.navbar-nav > li{
  padding-left: 4px;
  padding-right: 4px;
}

.navbar-nav .nav-item + .nav-item {
  margin-left: 0.1rem;
}

.navbar__elixir-drop {
  height: 30px;
  float: left;
  margin-top: 4px;
  margin-right: 5px;
}

.navbar__sharer {
  padding: 0px 4px;
}

.workspace {
  height: 100%;
  bottom: 0;
  min-width:100%;
  width:100%;
  position: absolute;
  padding-top: 55px;
}

.without-navbar {
  padding-top: 0;
}

.code-editor-pane {
  width: 100%;
  height: 70%;
  margin-right: 0;
  margin-left: 0;
  position: relative;
}

.code-editor-pane__codemirror {
  height: 100%;
  padding-left: 0;
  padding-right: 0;
}

.code-editor-pane__codemirror > .CodeMirror {
  background-color: #FFF8ED;
}

.run-button {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1000;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.console-pane {
  width: 100%;
  height: 30%;
  margin-right: 0;
  margin-left: 0;
}

.console-pane > .CodeMirror {
  background-color: #f8f8f8;
  border-top: 1px solid #e7e7e7;
}

.about-pane {
  background: white;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5000;
  overflow: auto;
  padding: 3rem;
}

.about-pane__close {
  position: absolute;
  top: 7px;
  right: 15px;
}

.CodeMirror {
  height: 100%;
  font-family: Monaco, Menlo, monospace, Courier, "Courier New";
}

.CodeMirror-scroll {
  height: 100%;
  overflow-y: auto;
  overflow-x: auto;
}

.CodeMirror-gutters {
  border-right: none;
}
